<%-include('../layouts/header.ejs') %>


<div id="content">
    <img src="https://www.seekpng.com/png/detail/105-1057578_n-blem-logo-png-transparent-logo-de-una.png" alt="Logo" id="logo">
    <h1>Email Verified!</h1>
    <h2>Thanks , we're so happy to have you on our platform</h2>
    <a href="/forget-password" id="button">NEXT</a>
  </div>
  

<%-include('../layouts/header.ejs') %>