<%-include('../layouts/header.ejs') %>


<h1 style="color: red;">A Beautiful Home page will coming sooon ....... </h1>


<button class="button"><a href="/logout">Logout</a></button>
<%-include('../layouts/footer.ejs') %>